@import url(../variables.css);

.homeContainer {
  width: 100%;
  height: calc(100% - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tweetsContainer {
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
