@import url(../variables.css);

.homeContainer {
  width: 100%;
  height: calc(100% - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tweetsContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  padding-right: 5px;
}
.tweetsContainer::-webkit-scrollbar {
  background-color: var(--main-bg-color);
  width: 5px;
}
.tweetsContainer::-webkit-scrollbar-thumb {
  background-color: gray;
}
.tweetsContainer::-webkit-scrollbar,
.tweetsContainer::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
