@import url(../variables.css);

.profileContainer {
  width: 100%;
  height: calc(100% - 13rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.profileEditCtn {
  width: 90%;
  height: 8rem;
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.profileEditForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileEditForm > span {
  margin-bottom: 10px;
  font-weight: 600;
}
.editNameInput {
  width: 150px;
  border: none;
  outline: none;
  text-align: center;
  border-bottom: 3px solid gray;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 20px;
}
.editNameInput:focus {
  border-color: var(--main-tweeter-color);
}
.toggleMyTweets,
.logoutButton,
.confirmInput {
  width: 100px;
  min-height: 25px;
  height: 25px;
  border-radius: 20px;
  border: none;
  background-color: var(--main-tweeter-color);
  color: white;
}
.logoutButton {
  width: 80px;
}
.toggleMyTweets {
  width: 120px;
  margin-top: 10px;
}
.toggleMyTweets:hover,
.logoutButton:hover,
.confirmInput:hover {
  background-color: var(--focus-tweeter-color);
}

.myTwittCnt {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myTwittZone {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 5px;
}
.myTwittZone::-webkit-scrollbar {
  background-color: var(--main-bg-color);
  width: 5px;
}
.myTwittZone::-webkit-scrollbar-thumb {
  background-color: gray;
}
.myTwittZone::-webkit-scrollbar,
.myTwittZone::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
