@import url(../variables.css);
.tweet {
  margin-top: 5px;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
}
.tweetContainer {
  width: 100%;
  margin-top: 20px;
}
.tweetContainer:first-child {
  margin-top: 0px;
}
.textBox {
  border: 1px solid gray;
  padding: 25px 20px 48px 20px;
  border-radius: 20px;
  position: relative;
}
.tweetInfo {
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tweetInfo > span {
  margin-bottom: 1px;
}

.editDeleteBtn {
  margin-top: -20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.editDeleteBtn > button {
  cursor: pointer;
  background-color: var(--main-tweeter-color);
  border: none;
  outline: none;
  width: 22px;
  height: 22px;
  color: white;
  margin-left: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editDeleteBtn > button:hover {
  background-color: var(--focus-tweeter-color);
}

.imgContainer {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.uploadImg {
  max-width: 80%;
}

.textBox > textarea {
  margin-top: 5px;
  width: 100%;
  height: 6rem;
  resize: none;
  margin-bottom: -30px;
  padding: 10px;
  border-radius: 10px;
}
.confirmCancelBtn {
  margin-top: -20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.confirmCancelBtn > div {
  width: 22px;
  height: 22px;
  background-color: var(--main-tweeter-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.confirmCancelBtn > div > label {
  color: white;
  cursor: pointer;
}
.cancelBtn:hover,
.confirmCancelBtn > div:hover {
  background-color: var(--focus-tweeter-color);
}
.confirmCancelBtn > input {
  display: none;
}
.cancelBtn {
  background-color: var(--main-tweeter-color);
  border: none;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePhotoCnt {
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
}
.profilePhoto {
  width: 100%;
  height: 100%;
}
