@import url(reset.css);
* {
  box-sizing: border-box;
}
.main_container {
  min-width: 450px;
  background-color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}
